<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mobile.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @mobile.company %>
</p>

<p>
  <strong>Model:</strong>
  <%= @mobile.model %>
</p>

<p>
  <strong>File?:</strong>
  <%= @mobile.file? %>
</p>

<p>
  <strong>And:</strong>
  <%= @mobile.and %>
</p>

<p>
  <strong>Present?:</strong>
  <%= @mobile.present? %>
</p>

<p>
  <strong>Checks:</strong>
  <%= @mobile.checks %>
</p>

<p>
  <strong>If:</strong>
  <%= @mobile.if %>
</p>

<p>
  <strong>The:</strong>
  <%= @mobile.the %>
</p>

<p>
  <strong>File name:</strong>
  <%= @mobile._file_name %>
</p>

<p>
  <strong>Field:</strong>
  <%= @mobile.field %>
</p>

<p>
  <strong>Is:</strong>
  <%= @mobile.is %>
</p>

<p>
  <strong>Populated:</strong>
  <%= @mobile.populated %>
</p>

<%= link_to 'Edit', edit_mobile_path(@mobile) %> |
<%= link_to 'Back', mobiles_path %>
